<html>
    <head>
        <link rel="stylesheet" type="text/css" href="assets/css/playlist.css"/>
        <script type="text/javascript" src="scripts/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="scripts/jquery.tools-1.2.7.min.js"></script>
        <script type="text/javascript" src="scripts/prettyprint.js"></script>
        <script type="text/javascript" src="scripts/utils.js"></script>
        <link href="assets/css/video-js.css" rel="stylesheet">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
        <div id="video" class="video">
            <video id="my-video" class="video-js" preload="auto" loop width="394" height="292">
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
        </div>
        <div id="information" class="info">
            <div id="msg_header" class="msg msg_header">
                <h3>Playlist received:</h3>
            </div>
            <div id="message" class="msg">
            </div>
        </div>
        <script src="scripts/video.js"></script>
        <script src="scripts/videojs-playlist.js"></script>
        <script src="scripts/mp4_webm_playlist.js"></script>
    </body>
</html>
